.row
    .col.s12
        h2 Candle Lighting Simulation
        p All parameters are updated live.  Changing grid size forces restart.
.row
    .input-field.col.s4.tooltipped(data-tooltip="{{parameters.size.description}}")
        input#size(
            type="number"
            value="{{size}}"
            on-change="resetSimulation"
        )
        label(for="size") {{parameters.size.parameter_name}}
    .input-field.col.s4.tooltipped(data-tooltip="{{parameters.globalSpeed.description}}")
        select#global-speed(value="{{globalSpeed}}")
            | {{#each globalSpeeds}}
            option(value="{{value}}") {{display}}
            | {{/each}}
        label(for="global-speed") {{parameters.globalSpeed.parameter_name}}
    .input-field.col.s4.tooltipped(data-tooltip="{{parameters.mode.description}}")
        select#mode(value="{{selectedMode}}")
            | {{#each modes}}
            option(value="{{this}}") {{display}}
            | {{/each}}
        label(for="mode") {{parameters.mode.parameter_name}}
.row
    .col.s12.m6
        p.center-align: strong Time to Light Candle (seconds)
        .input-field.col.s6.tooltipped(data-tooltip="{{parameters.candleSecondsMin.description}}")
            input#candle-seconds-min(type="number" value="{{candleSecondsMin}}")
            label(for="candle-seconds-min") {{parameters.candleSecondsMin.parameter_name}}
        .input-field.col.s6.tooltipped(data-tooltip="{{parameters.candleSecondsMax.description}}")
            input#candle-seconds-max(type="number" value="{{candleSecondsMax}}")
            label(for="candle-seconds-max") {{parameters.candleSecondsMax.parameter_name}}
        .col.s10.offset-s1.col.m6.offset-m3
            button.btn(on-click="resetCandleTiming") Defaults
    .col.s12.m6
        p.center-align: strong Global Usher Movement Interval (seconds)
        .input-field.col.s6.tooltipped(data-tooltip="{{parameters.usherSecondsMin.description}}")
            input#usher-seconds-min(
                type="number"
                value="{{usherSecondsMin}}"
                on-change="setGlobalUsherMin"
                )
            label(for="usher-seconds-min") {{parameters.usherSecondsMin.parameter_name}}
        .input-field.col.s6.tooltipped(data-tooltip="{{parameters.usherSecondsMax.description}}")
            input#usher-seconds-max(
                type="number"
                value="{{usherSecondsMax}}"
                on-change="setGlobalUsherMax"
                )
            label(for="usher-seconds-max") {{parameters.usherSecondsMax.parameter_name}}
        .col.s10.offset-s1.col.m6.offset-m3
            button.btn(on-click="resetGlobalUsherTiming") Defaults
.row
    .col-sm-12
        .section.room
            | {{#each grid as row}}
            | {{#each row}}
            | {{#if candle.isLit}}
            i(class="{{repr}} lit" aria-hidden="true")
            | {{else}}
            i(class="{{repr}}" aria-hidden="true")
            | {{/if}}
            | {{/each}}
            br
            | {{/each}}
        .divider

.fixed-action-btn
    a.btn-floating.btn-large.waves-effect.waves-light(
        on-click="resetSimulation"
        name="control-panel-parameter"
        data-toggle="popover"
        data-content="Restart the simulation with the current settings."
    )
        i.material-icons replay
